@font-face {
font-family: 'GyeonggiBatang';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff');
font-weight: normal;
font-style: normal; }
body{
  font-family: 'GyeonggiBatang';
}
#grid{
  margin-top: 15px;
}
#list {
  width:900px;
  line-height: 2;
  text-align: center;
  background-color: #CCAEE1;
  opacity: 0.6;
  height:30px;
  padding:6px;
  margin:0 auto;
  list-style: none;
}
#list a{
  display: inline-block;
}
#contents {
  overflow: hidden;
  padding-left: 250px;
}
#box{
  margin-top: 25px;
  width:800px;
  height:700px;
  margin-left:250px;
}
#info{
  float:right;
  width:395px;
  height: 267px;
  overflow: hidden;
  opacity:0.3;
  color:white;
  background-color: #B689CA;
  display: inline;
  font-size: 35px;
}
#contents{
  line-height: 1.6;
}

li{
  display:inline-block;
  padding:0 20px;
  font-size: 17px;
}
li:first-child{border-left:none;}
a{
  color:black;
  text-decoration:none;
}
h1{
  font-size:50px;
  text-align:center;
}
h2{
  text-align:center;
  margin:0;
}
h3{
  font-size:25px;
}
h5{
  font-size:20px;
}
.slideshow{
  display: inline;
}
.slide{
  width:400px;
  display: inline;
}
.slide2{
  padding-left: 400px;
  width:400px;
  display: inline;
}
@media(max-width:800px){
  #grid{
    display: block;
  }
  #contents {
    padding-left:0;
    text-align: center;
  }
  #list {
    width:auto;
    text-align: center;
    float:none;
  }
}
