@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
#body{
  font-family: "Nanum Gothic", sans-serif;
}
#list {
  width:100%;
  line-height: 3;
  text-align: center;
  background-color: #CCAEE1;
  opacity: 0.5;
}
#contents {
  overflow: hidden;
  padding-left: 150px;
}
ol{
  list-style: none;
  margin: 0;
}
li{
  display:inline;
  border-left:1px solid black;
  padding:0 20px;
  font-size: 17px;
}
li:first-child{border-left:none;}
a{
  color:black;
  text-decoration:none;
}
h1{
  font-size:50px;
  text-align:center;
}
h2{
  text-align:center;
  margin:0;
}
h3{
  font-size:25px;
}
h5{
  font-size:20px;
}
.slide{
  width:100%;
}
@media(max-width:800px){
  #grid{
    display: block;
  }
  #contents {
    padding-left:0;
    text-align: center;
  }
  #list {
    width:auto;
    text-align: center;
    float:none;
  }
}
